html, body {
  height: 100%;
} 
body {
    font-family: 'Roboto', 'Noto Sans', sans-serif;
}

.main-wrapper {
  min-height: 100%;
}

.main {
  overflow: auto;
  padding-bottom: 90px; /* This needs to be > footer height */
}

footer {
  border-top: 1px solid gray;
  bottom: 0;
  clear: both;
  height: 80px;
  left: 0;
  margin-top: -80px;
  padding-top: 10px;
  padding-bottom: 10px;
  position: relative;
  width: 100%;
}

@media screen and (max-width: 1000px) {
  footer {
    display: none;
  }
}

.yt-red {
    color: #ff0000;
}
.yt-black {
    color: #282828;
}

#login-box {
  display: none;
}

.outer-shell {
  border: solid black 1px;
  height: 75vh;
  padding: 0.5rem;
  width: 100%;
}

.stat-container {
  border: solid black 1px;
  height: 100%;
}

.stat-content {
  vertical-align: center;
  height: 100%;
  padding: auto;
}

.row-1, .row-2, .row-3, .row-4, .row-5, .row-6, .row-7, .row-8, .row-9, .row-10,
.row-11, .row-12 {
  padding: 0.5rem;
}

.row-1 {
  max-height: 8.333333%;
}

.row-2 {
  max-height: 16.666667%;
}

.row-3 {
  max-height: 25%;
}

.row-4 {
  max-height: 33.333333%;
}

.row-5 {
  max-height: 41.666667%;
}

.row-6 {
  max-height: 50%;
}

.row-7 {
  max-height: 58.333333%;
}

.row-8 {
  max-height: 66.666667%;
}

.row-9 {
  max-height: 75%;
}

.row-10 {
  max-height: 83.333333%;
}

.row-11 {
  max-height: 91.666667%;
}

.row-12 {
  max-height: 100%;
}

.shell-row {
  height: 100%;
  margin-right: 0px;
  margin-left: 0px;
}

.inner-row {
  margin-left: 0px;
  margin-right: 0px;
  padding: 0px;
}

/* Settings page */
.drag-handle {
  cursor: grab;
  cursor: -webkit-grabbing;
}

.grey-background {
  background-color: lightgrey;
}

.badge-theme {
  border: 1px solid black;
  font-size: 85%;
  margin-left: 0.75rem;
}