/* Dark Mode */

body.dark {
  background-color: #111;
}

body.dark .outer-shell {
  background-color: #444;
}

body.dark .navbar,
body.dark .outer-shell-dark {
  background-color: #333;
}

body.dark h1, body.dark h2, body.dark h3, body.dark h4,
body.dark h5, body.dark h6, body.dark .h1, body.dark .h2,
body.dark .h3, body.dark .h4, body.dark .h5, body.dark .h6,
body.dark .navbar-brand, body.dark .navbar .fas,
body.dark .carousel-arrow, body.dark .indicator-list {
  color: #fff;
}

body.dark .grid-item, body.dark table {
  background-color: #222;
}

body.dark .text-muted {
  color: #999;
}

body.dark ::-webkit-scrollbar {
  width: 12px;
}

body.dark ::-webkit-scrollbar-track {
  background: #777; 
}

body.dark ::-webkit-scrollbar-thumb {
  background: #bbb; 
}

body.dark ::-webkit-scrollbar-thumb:hover {
  background: #ddd; 
}

body.dark table .fas {
  color: inherit;
}

body.dark hr {
  border-top-color: rgba(255, 255, 255, 0.5);
}

body.dark .category-number {
  color: #aff5f3;
  background-color: #343a40;
}