/*----- General -----*/

html {
  font-size: 1.5vh;
}

html, body {
  height: 100%;
} 
body {
  font-family: 'Roboto', 'Noto Sans', sans-serif;
  -webkit-user-select: none;
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  user-select: none;
}

.main-wrapper {
  min-height: 100%;
}

.main {
  overflow-x: hidden;
  overflow-y: auto;
  padding-bottom: 0;
}


@media (min-width: 1000px) {
  .container {
    max-width: none;
    width: 100%;
    padding-left: 1vw;
    padding-right: 1vw;
  }
}

.dashboard-title {
  font-size: 3rem;
}

.icon-bar {
  position: absolute;
  top: 0%;
  right: 1%;
  float: right;
  list-style: none;
  z-index: 10;
}

.icon-bar li {
  display: inline;
  cursor: pointer;
  font-size: 1.75rem;
}

.arrow-red {
  color: #ff0000;
}
.yt-black, .arrow-text-black {
  color: #282828;
}
.bg-yt-red {
  background-color: #ff0000;
}

#login-box {
  display: none;
}

.outer-shell {
  background-color: snow;
  border: solid black 1px;
  height: 90vh;
  padding: 1rem;
  max-width: 100%;
}

.indicator-list {
  display: inline;
}

.indicator {
  font-size: 1.5rem;
  margin-right: 0.1667rem;
  margin-left: 0.1667rem;
  cursor: pointer;
  opacity: .5;
  transition: opacity 0.6s ease;
}

.indicator.active {
  opacity: 1;
}

.carousel-arrow {
  cursor: pointer;
  font-size: 1.6667rem;
}

.scroll-x, .scroll-y {
  height: 100%;
  width: 100%;
}

.scroll-x {
  overflow-x: scroll;
  overflow-y: hidden;
}

.scroll-y {
  overflow-y: scroll;
}

/*----- Top Ten Dashboard -----*/

.top-ten-title {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.arrow-red, .arrow-green {
  font-size: 2.1rem;
  -webkit-text-stroke-width: thick;
  position: absolute;
  bottom: 0.35rem;
  left: 0.4444rem;
  top: auto;
}

.arrow-green {
  color: #00ff00;
}

.arrow-text-white, .arrow-text-black {
  font-size: 1.1rem;
  position: absolute;
  bottom: 0.5rem;
  left: 0.9rem;
  top: auto;
}

.arrow-text-white {
  color: white;
}

.column {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  flex-direction: column;
  float: left;
  height: 100%;
}

.column-title, .column-thumbnail {
  position: relative;
  height: 100%;
}

.column-title {
  -ms-flex: 0 0 4%;
  flex: 0 0 4%;
  max-height: 4%;
}

.column-thumbnail {
  -ms-flex: 0 0 9.6%;
  flex: 0 0 9.6%;
  max-height: 9.6%;
}

.top-ten-thumbnail-holder {
  padding-left: 0;
  padding-right: 0;
  position: relative;
}

.top-ten-thumbnail {
  max-height: 100%;
  max-width: 100%;
}

.thumbnail, .top-ten-thumbnail {
  padding: 0.1111rem;
  margin-left: auto;
  margin-right: auto;
}

/*----- 1000 Thumbnail Dashboard -----*/

.thumbnail {
  padding-left: 0;
  padding-right: 0;
  max-width: 9.7%;
}

/*----- User Feedback Dashboard -----*/

.feedback-thumbnail {
  max-height: 100%;
  max-width: 100%;
}

#feedback-container hr {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.feedback-text {
  font-size: 3vw;
  font-style: italic;
  overflow: auto;
}

/*----- Top Video Dashboard -----*/

.top-video-thumbnail {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  height: auto;
  width: 100%;
  -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
      0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
      0 6px 20px 0 rgba(0, 0, 0, 0.19);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
      0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.like-progress {
  height: 1rem;
}

.top-video-eye, .top-video-people, .top-video-retention, .top-video-clock,
.top-video-comment, .top-video-like {
  color: red;
}

.top-video-eye, .top-video-people, .top-video-clock, .top-video-comment {
  padding-left: 1vw;
}

.top-video-eye, .top-video-comment {
  font-size: 5vw;
}

.top-video-retention, .top-video-like {
  padding-bottom: 0.6667rem;
  padding-top: 0.6667rem;
}

.top-video-people {
  font-size: 4.5vw;
}

.top-video-retention, .top-video-like {
  font-size: 5rem;
}

.top-video-clock {
  font-size: 5.25vw;
}

.top-video-stat, .top-video-stat-subs, .top-video-stat-comment {
  font-size: 4vw;
  margin: 0;
}

.top-video-stat-comment, .top-video-stat-subs {
  font-size: 4.5vw;
}

.top-video-caption {
  font-size: 1.5vw;
  margin: 0;
}

.top-video-caption-views, .top-video-caption-comment {
  font-size: 2vw;
  margin: 0;
}

/*----- Platform Dashboard -----*/

.demographics-table th, .demographics-table thead th, .demographics-table td {
  border: none;
  font-size: 1.4rem;
  padding: 0.2rem;
  vertical-align: middle;
}

.demographics-table span, .demographics-table thead th {
  font-size: 1.5rem;
  font-weight: bold;
}

.demographics-table h1, .demographics-table h2, .demographics-table h3,
.demographics-table h4, .demographics-table h5, .demographics-table h6 {
  margin-bottom: 0;
}

[id^="male-"] {
  color: #549dd1;
}

[id^="female-"] {
  color: #926fd1;
}

/*----- Real Time Stats Dashboard -----*/

.stat-title {
  font-size: 3.75vw;
  font-weight: bold;
  margin: 0;
}

.stat-caption {
  font-size: 1.7vw;
  margin: 0;
}

.odometer, .stat-retention {
  font-size: 5.25vw;
  margin: 0;
}

.stats-icon, .stats-icon-subscribers {
  color: #ff0000;
  font-size: 7vw;
  padding-left: 1rem;
}

.stats-icon-subscribers {
  font-size: 6.5vw;
}

/*----- Product Category Dashboard -----*/

[id^="category-title-"] {
  font-weight: bold;
}

.category-number {
  background-color: linen;
  border-radius: 0.5rem;
  color: red;
  font-size: 4.5rem;
  margin-left: 0.5rem;
  margin-bottom: 0;
}

.category-number-container {
  flex: 0 0 20%;
  max-width: 20%;
}

.category-description-container {
  flex: 0 0 80%;
  max-width: 80%;
}

/*----- Settings page -----*/

.cursor-grab {
  cursor: grab;
  cursor: -webkit-grabbing;
}

.drag-container {
  flex: 0 0 5%;
  max-width: 5%;
}

.dropdown-container {
  cursor: pointer;
  flex: 0 0 95%;
  max-width: 95%;
  padding-left: 0;
}

.collapse-btn {
  float: right;
  font-size: 1.1111rem;
}

.grey-background {
  background-color: lightgrey;
}

.badge-theme {
  border: 1px solid black;
  font-size: 85%;
  margin-left: 0.75rem;
}

/*----- Grid -----*/

.grid-container {
  display: grid;
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, calc((90vh - 13rem) / 12));
  align-content: space-around;
  justify-content: space-between;
}

.grid-item {
  background-color: white;
  border: solid black 1px;
  border-radius: 0.25rem;
  -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
      0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
      0 6px 20px 0 rgba(0, 0, 0, 0.19);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
      0 6px 20px 0 rgba(0, 0, 0, 0.19);
  overflow: hidden;
  padding: 0.3333rem;
}

/*----- Scrollbars -----*/

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: #eee; 
}

::-webkit-scrollbar-thumb {
  background: #888; 
}

::-webkit-scrollbar-thumb:hover {
  background: #555; 
}